<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Document</title>
</head>

<body>
  <section>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Descripthion</th>
            <th>start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          {% for row in data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <span class="pptoggler">
      <i class="fa-solid fa-plus"></i>
    </span>
  </section>
  <nav class="pppnav">
    <span class="cProgram">X</span>
    <div id="FormContainer">
      <form id="programForm" action="/submit_program" method="post">
        <label for="name">Program Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="descripthion">Program Descripthion:</label>
        <input type="text" id="descripthion" name="descripthion" required><br>

        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date"><br>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date"><br>

        <input type="submit" value="Submit">
      </form>
    </div>
  </nav>
</body>

</html>